html, body {
    margin: 0;
    height: 100%;
}

html {
    background-color: black;
}
/*#C0004A*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    margin: 0;
    padding: 0;
    color: white;
    background-image: url('images/startBackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    border:2px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0;
}

a {
    color: white;
    font-size: 48px;
    text-decoration: none;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
